.category-card {
    font-family: 'Amiri', serif;
    box-shadow: 0px 0px 10px -2px var(--main-color);
}
.category-card .content .verse{
    line-height: 2.5;
}
.category-card .content .donate-button {
    background-color: var(--secondary-color);
    color: black;
}
.category-card .content .donate-button:hover {
    color: white;
}
