.category-card {
    font-family: 'Amiri', serif;
    box-shadow: 23px 75px 171px 0px #2524241A;
    position: relative;
    background-color: white;
    border-radius: 18px;
    width: 98%;
    height: 300px;
    margin-bottom: 70px;
}
.category-card  > img {
    width: 150px;
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 20px 50px 0px #3131310D;
}
.category-card.top::before,
.category-card.bottom::before {
    content: "";
    position: absolute;
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 10px);
    border-radius: 24px;
    z-index: -1;
}
.category-card.bottom::before {
    top: 0;
    background-image: linear-gradient(white , #EDDCC8);
}
.category-card.top::before {
    top: -10px;
    background-image: linear-gradient(#EDDCC8 ,white);
}
.category-card .content .verse{
    font-family: "Tajawal" , sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: center;
    color: #696969;
}
.category-card .content .donate-btn {
    background-color: white;
    border: 1px solid #353D40;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}
