
.confirm-reset-pass .reset-password-form {
    background-color: #C7AB77;
    color: black;
    box-shadow: 0 0 23px -3px #927238;
}
.confirm-reset-pass .submit-btn {
    background-color: #927238 !important;
    color: white;
}
.confirm-reset-pass form label {
    font-size: 20px;
    font-weight: 600;
}