#root > .footer {
    background-image: url("/images/footer_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.first-footer,
.second-footer {
    /* background-color: var(--main-color); */
    color: white;
}
.first-footer .input-group input {
    border-radius: 35px !important;
}
.first-footer .input-group input::placeholder {
    color: white;
}
.first-footer button,
.first-footer button:hover {
    background-color: #EDDCC8;
    color: #91683A;
    border-radius: 35px !important;
}
.second-footer .download-icons img {
    width: 48%;
}
.second-footer h2 {
    margin-bottom: 25px;
}
.second-footer .social-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2F312D;
}
.second-footer li {
    margin-bottom: 10px;
}
.second-footer li:hover {
    color: #9f8260;
}
.third-footer {
    color: white;
}