header {
    background-image: var(--gradient-color);
    color: white;
}
header .content {
    padding-top: 100px;
    font-family: 'Amiri', serif;

}
header .content p:first-child {
    font-size: 32px;
    margin-bottom: 45px;
}
header .content:nth-child(1) {
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 2;
    margin-bottom: 13px;
}
header .content p:last-of-type {
    font-size: 24px;
}
header .content button,
header .content button:hover {
    background-color: var(--secondary-color);
}