.first-nav {
    background-color:  var(--third-color) !important;
    border-bottom: 2px solid #a1cefa;
}
.second-nav {
    background-color: #152a3f;
    border-bottom: 2px solid #a1cefa;
}
ul {
    list-style: none;
}
.nav-link {
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.nav-link:focus,
.nav-link:hover {
    color: #a1cefa;
}
.logo {
    width: 60px;
}
.acc_link {
    border-left: 1px solid #B7D086;
    color: #B7D086;
}
.acc_logo {
    width: 35px;
    margin-left: 5px;
    margin-top: 10px;
}
.cart_logo {
    font-size: 35px;
    margin-right: 15px;
    color: #B7D086;
}
.badge {
    right: 5px;
    background-color: #2282e3;
}
@media (max-width: 768px) {
    .navbar-toggler {
        display: block !important;
    }
    .nav-links-col {
        display: none !important;
    }
    .second-nav {
        display: none;
    }
}