.offcanvas {
    width: 300px !important;
    background-color: #EDDCC8;
}
.offcanvas .links a {
    display: block;
    padding: 15px 0;
}
.offcanvas .links a {
    font-size: 30px;
    font-weight: 600;
    border-bottom: 1px solid #927238;
    color: black;
}
