.container {
}

.container .nav {
  position: absolute;
  z-index: 1000;
  bottom: 0;
  left: 0;
}
.custome {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: red;
  z-index: 1000;
  display: flex;
  justify-content: center;
}
.swiperContainer {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  position: absolute;
  width: 100%;
  height: 100px;
  /*left: 0;
  */
  bottom: 0;
  z-index: 1001;
}
.swiperContainer img {
  height: 100px;
}
img.active {
  box-shadow: 5px 5px 5px 0px rgba(91, 86, 86, 0.3);
}
/*//*for react pdf */
/* .container {
  height: 100vh;

  display: flex;
  align-items: center;

  background-color: rgba(45, 9, 9, 0.2);
}

 .container .pages_nav {
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-bottom: 0;
  bottom: 0;
  align-items: flex-end;
  display: flex;
  text-align: center;
   what a *** issue whaattttt???!!!!!! 
  justify-content: center;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  max-width: 100vw;
} 

.container .pages_nav :global(.react-pdf__Page) {
  cursor: pointer;
}
.container .page2 {
} */

/*
.test canvas {
  width: 100vw !important;
  aspect-ratio: 1;
}

.container button {
  position: fixed;
  bottom: 20px;
  right: 50%;
  z-index: 50;
  width: 100px;
  height: 50px;
  background-color: red;
} */
