.upload-docs .heading {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
.upload-docs .heading :global(.inner-container) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.upload-docs .heading .title {
  font-size: 28px;
  font-weight: 700;
}
.upload-docs form {
  /* padding: 0 1.5rem 1.5rem 1.5rem; */
  display: flex;
  row-gap: 2rem;
  flex-wrap: wrap;
}
.upload-docs .input-group {
  flex-basis: 100%;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: space-between;
}
@media (max-width: 470px) {
  .upload-docs .input-group {
    grid-template-columns: 1fr;
  }
}

.upload-docs .button-container {
  width: 100%;
  text-align: left;
  /* display: flex;
  justify-content: flex-start; */
}
.upload-docs .button-container button {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background: rgba(145, 104, 58, 1);
  color: white;
  border: none;

  font-family: "Readex Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 1rem 1.5rem;
}
