.action {
  width: 184px;
  /* height: 128px; */
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 40px 50px 0px rgba(18, 18, 18, 0.15);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  row-gap: 12px;

  /* to control the position after popup */
  font-family: "Tajawal", sans-serif;
  position: absolute;
  left: -31px;
  top: 20px;
  z-index: 100;
}

.action button {
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  color: #121212;
  border: none;
  line-height: 19.2px;
}
.action button img {
  margin-left: 1rem;
}
.action button span {
  font-weight: 500;
}

:global(.edit-case-content) {
  width: 80%;
}
/* docs popup styling */
:global(.docs-popup-content) {
  height: 100%;
}
:global(.docs-popup-overlay) {
  overflow: auto;
}
:global(.docs-popup-overlay)::-webkit-scrollbar {
  display: block;
  width: 8px;
  height: 8px;
  background: transparent;
  /* margin-right: 50px; */
}
:global(.docs-popup-overlay)::-webkit-scrollbar-thumb {
  background-color: #eee;
  /*Setthecolorofthethumb*/
  /* width: 5px; */
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
:global(.docs-popup-overlay)::-webkit-scrollbar-thumb:hover {
  background-color: #ddd;
}
