.progress {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2px;

  width: 53px;
  height: 1.5rem;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
}
.progress span {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
}
.positive {
  color: rgba(1, 195, 106, 1);
  background-color: rgba(230, 250, 242, 1);
}

.negative {
  background-color: rgba(254, 237, 237, 1);
  color: rgba(247, 82, 82, 1);
}
