.admin-dashboard .sidebar-content {
    background-color: var(--third-color);
    height: 100vh;
}
.admin-dashboard .sidebar-content .admin-details img {
    width: 60px;
}
.admin-dashboard .main-content .dashboard-nav button {
    background-color: transparent;
    color: black;
    border: none;
    padding: 0;
}
.admin-dashboard .main-content .dashboard-nav span.badge {
    top: 15% !important;
    left: 80% !important;
}
.admin-dashboard .main-content .dashboard-nav .dropdown .dropdown-toggle::after {
    display: none;
}
@media (max-width: 992px) {
    .admin-dashboard .main-content .dashboard-nav .sidebar-toggler {
        display: block  !important;
    }
    .admin-dashboard .sidebar-column {
        position: absolute;
        right: -100%;
        transition: 1s;
    }
    .admin-dashboard .sidebar-column.shown {
        right: 0;
        width: 300px;
    }
    .admin-dashboard .sidebar-column .close-sidebar {
        display: block !important;
        top: 10px;
        left: 15px;
    }

}