.admin-dashboard .main-content .dashboard-nav button {
    background-color: transparent;
    color: black;
    border: none;
    padding: 0;
}
.admin-dashboard .main-content .dashboard-nav span.badge {
    top: 15% !important;
    left: 80% !important;
}
.admin-dashboard .main-content .dashboard-nav .dropdown .dropdown-toggle::after {
    display: none;
}
@media (max-width: 992px) {
    .admin-dashboard .main-content .dashboard-nav .sidebar-toggler {
        display: block  !important;
    }
}