.admin-dashboard .sidebar-content {
    background-color: var(--third-color);
    height: 100vh;
}
.admin-dashboard .sidebar-content .admin-details img {
    width: 60px;
}
.admin-dashboard .sidebar-content .links a {
    display: block;
    width: 90%;
    padding: 10px;
}
.admin-dashboard .sidebar-content .links a.active {
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    background-color: #94b94b29
}
