.forget-password-page {
    background-image: var(--gradient-color);
    color: white;
}
.forget-password-page .forget-password-form,
.forget-password-page .form-submitted-content {
    background-color: var(--main-color);
    box-shadow: 0 0 15px -3px #a1cefa;
}
.forget-password-form .submit-btn {
    background-color: var(--secondary-color);
}
.form-submitted-content .sent-icon {
    color: #a1cefa;
    font-size: 70px;
    width: fit-content;
    display: block;
    margin: auto;
}