.login-page {
    background-image: var(--gradient-color);
    color: white;
}
.login-page form .form-floating label {
    color: #393232;
    font-weight: 600;
    left: unset;
}
.login-page .content {
    background-color: var(--main-color);
    box-shadow: 0 0 15px -3px #a1cefa;
}
.login-page .content .submit-btn {
    background-color: #a1cefa;
}
@media (max-width: 768px) {
    .login-page .img-column {
        display: none;
    }
}