.login-page {
    background-image: linear-gradient(#d5bfa6, white);
    color: white;
}
.login-page form .form-floating label {
    color: #393232;
    font-weight: 600;
    left: unset;
}
.login-page form label {
    font-size: 20px;
    font-weight: 600;
}
.login-page .content {
    background-color: #C7AB77;
    color: black;
    box-shadow: 0 0 23px -3px #927238;
}
.login-page .content .submit-btn {
    background-color: #927238;
    color: white;
}
@media (max-width: 768px) {
    .login-page .img-column {
        display: none;
    }
}
