div.container {
  color: black;
  height: 500px;
  width: 500px;
  margin: auto;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 2000;
  background-color: rgb(37, 26, 26);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.message-list {
  color: black;
  height: calc(500px - 80px);
}

.input textarea {
  background-color: red;
  overflow: auto;
}

.input div {
  align-self: flex-start;
}
.input div button {
  background-color: transparent;
  outline: none;
  border: none;
}
