/* form
       -> .groub
       -> .button-container */

.edit-profile form {
  display: flex;
  row-gap: 2rem;
  flex-wrap: wrap;
}

.edit-profile .group {
  flex-basis: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 1rem;
  /* margin-bottom: 50px; */
}

@media (max-width: 767px) {
  .edit-profile .group {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}

.edit-profile .group .input-box {
  height: 110px;
}
.edit-profile .group .input-box .label {
  font-size: 19px;
  font-weight: 500;
  line-height: 22.8px;
  color: #999999;
  margin-bottom: 0.5rem;
}

.edit-profile .group .input-box .input-field {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 1px solid #c8c8c8;
  font-size: 19px;
  font-weight: 500;
  line-height: 20px;
  color: #121212;
}
.edit-profile .group .input-box .input-field::placeholder {
  color: var(--secondary-dashboard-color);
}

.edit-profile .button-container {
  width: 100%;
  display: flex;
  justify-content: left;
}
.edit-profile .button-container button {
  font-family: "Readex Pro", sans-serif;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  padding: 1rem 1.5rem;
}
