* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --main-color: #121a22;
  --secondary-color: #94B94B;
  --third-color: #2C3E50;
  --forth-color: #a1cefa;
  --gradient-color: linear-gradient(#1F2C39, #202D3AFE, #2C3E50);
}
body {
  font-family: 'Cairo', sans-serif;
}
a {
  text-decoration: none;
  color: white;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-20 {
  gap: 20px;
}
.loading-screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
}
