* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --main-color: #121a22;
  --secondary-color: #94b94b;
  --third-color: #2c3e50;
  --forth-color: #a1cefa;
  --gradient-color: linear-gradient(#1f2c39, #202d3afe, #2c3e50);

  --main-dashboard-color: #91683a;
  --gradient-selection: linear-gradient(
    270deg,
    #ffffff 6.81%,
    rgba(255, 255, 255, 0) 112.34%
  );
}
body {
  font-family: "Cairo", sans-serif;
}
a {
  text-decoration: none;
  color: white;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-20 {
  gap: 20px;
}
.loading-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}
